<!DOCTYPE html>
<html lang="en">
 <head>
     <meta charset="UTF-8">
     <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="assets/css/style.css">
     <title>Vue todolist</title>
 </head>
 <body>
     <div id="app">
         <div class="container">
             <div id= "logo"><img src="https://www.boolean.careers/images/misc/logo.png" alt=""></div>
             <input type="text" id="testo" placeholder="Aggiungi qualcosa da fare" v-model="nuovaTask" @keyup.enter="aggiungiTask">
             <button @click="aggiungiTask">Add</button>
             <h3>Todo List</h3>
             <ul>
                 <li v-for="(task, index) in tasksPresenti"> {{task}} <i class="fas fa-times-circle"></i> </li>
             </ul>
         </div>
     </div>
    
     <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
     <script src="assets/js/main.js"></script>
 </body>
</html>